<div class="container">

  <div class="session_login_window well">
    <h2>请先登录</h2>

    <% if flash[:error].present? %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
    <% end %>

    <%= render "sessions/new/form" %>
  </div>
</div>

