<p style="margin-left: 20px">亲爱的客户经理</p>
<p style="margin-left: 20px">
  最近访问微信网的客户<%= @name %>提交咨询表:
</p>
<br />
<table border="1" style="margin-left: 60px">
  <tr>
    <th>咨询人</th>
    <th>联系方式(电话或邮件)</th>
    <th>咨询内容</th>
  </tr>
  <tr>
    <td><%= @name %></td>
    <td><%= @contact %></td>
    <td><%= @content %></td>
  </tr>
</table>
<p style="margin-left: 20px">请尽快答复, 谢谢！</p>