<% content_for :javascripts do %>
<meta name="viewport" content="width=800">
<% end %>

<div class="inner-page">
  <div class="container">
    <div class="page-mainbar landing">
      <!-- Landing Content -->
      <div class="landing-content">
        <!-- Landing Hero -->
        <div class="landing-logo">
          <!-- Logo Icon -->
          <%= image_tag "logoabout.png", style: "width: 300px; margin: 50px auto 100px auto" %>
          <h2></h2>
          <!-- Image -->
          <div class="box-wrapper">
            <div style="margin: 10px -5px 10px -25px">

              <%# ROW 1 %>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <!-- Box Outer Layer [ Box 1 ] -->
                      <div class="box box-md br-green animated">
                        <!-- Box Hover Effect -->
                        <div class="box-hover box-hover-black">
                          <!-- Hover Icon -->
                          <span class="hover-icon">进入</span>
                        </div>
                        <!-- Box Link -->
                        <a href="/lion/group_travel">
                          <!-- Box Link Content -->
                          <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-users fa-5x"></i>
                            <!-- Box Title -->
                            <span class="box-title" style="font-size: 33px">跟团游</span>
                          </div>
                        </a>
                      </div>  
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <!-- Box Outer Layer [ Box 2 ] -->
                      <div class="box box-md br-black animated">
                        <!-- Box Hover Effect -->
                        <div class="box-hover box-hover-black">
                          <!-- Hover Icon -->
                          <span class="hover-icon">进入</span>
                        </div>
                        <!-- Box Link -->
                        <a href="/lion/diy">
                          <!-- Box Link Content -->
                          <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-globe"></i>
                            <!-- Box Title -->
                            <span class="box-title" style="font-size: 33px">自由行</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <!-- Box Outer Layer [ Box 1 ] -->
                      <div class="box box-md br-green animated">
                        <!-- Box Hover Effect -->
                        <div class="box-hover box-hover-black">
                          <!-- Hover Icon -->
                          <span class="hover-icon">进入</span>
                        </div>
                        <!-- Box Link -->
                        <a href="/lion/group_travel">
                          <!-- Box Link Content -->
                          <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-users fa-5x"></i>
                            <!-- Box Title -->
                            <span class="box-title" style="font-size: 33px">跟团游</span>
                          </div>
                        </a>
                      </div>  
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <!-- Box Outer Layer [ Box 2 ] -->
                      <div class="box box-md br-black animated">
                        <!-- Box Hover Effect -->
                        <div class="box-hover box-hover-black">
                          <!-- Hover Icon -->
                          <span class="hover-icon">进入</span>
                        </div>
                        <!-- Box Link -->
                        <a href="/lion/diy">
                          <!-- Box Link Content -->
                          <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-globe"></i>
                            <!-- Box Title -->
                            <span class="box-title" style="font-size: 33px">自由行</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <%# ROW 2 %>
              <div class="row">
                <div class="col-md-3 col-sm-3">
                    <!-- Box Outer Layer [ Box 1 ] -->
                    <div class="box box-md br-purple animated">
                      <!-- Box Hover Effect -->
                      <div class="box-hover box-hover-black">
                        <!-- Hover Icon -->
                        <span class="hover-icon">进入</span>
                      </div>
                      <!-- Box Link -->
                      <a href="aboutus.html">
                        <!-- Box Link Content -->
                        <div class="box-content navigation">
                          <!-- Box Icon -->
                          <i class="fa fa-shopping-cart"></i>
                          <!-- Box Title -->
                          <span class="box-title" style="font-size: 33px">特价专区</span>
                        </div>
                      </a>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="box box-lg br-purple animated">
                    <!-- Box Hover Effect -->
                    <div class="box-hover box-hover-black">
                      <!-- Hover Icon -->
                      <span class="hover-icon">进入</span>
                    </div>
                    <!-- Box Link -->
                    <a href="aboutus.html">
                      <!-- Box Link Content -->
                      <div class="box-content navigation">
                        <!-- Box Icon -->
                        <i class="fa fa-shopping-cart"></i>
                        <!-- Box Title -->
                        <span class="box-title" style="font-size: 33px">特价专区</span>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="col-md-3 col-sm-3">
                  <div class="box box-md br-purple animated">
                    <!-- Box Hover Effect -->
                    <div class="box-hover box-hover-black">
                      <!-- Hover Icon -->
                      <span class="hover-icon">进入</span>
                    </div>
                    <!-- Box Link -->
                    <a href="aboutus.html">
                      <!-- Box Link Content -->
                      <div class="box-content navigation">
                        <!-- Box Icon -->
                        <i class="fa fa-shopping-cart"></i>
                        <!-- Box Title -->
                        <span class="box-title" style="font-size: 33px">特价专区</span>
                      </div>
                    </a>
                  </div>
                </div>

              </div>

              <%# ROW 3 %>
              <div class="row">
                <div class="col-md-3 col-sm-3">
                    <!-- Box Outer Layer [ Box 1 ] -->
                    <div class="box box-md br-purple animated pull-up-sm">
                      <!-- Box Hover Effect -->
                      <div class="box-hover box-hover-black">
                        <!-- Hover Icon -->
                        <span class="hover-icon">进入</span>
                      </div>
                      <!-- Box Link -->
                      <a href="aboutus.html">
                        <!-- Box Link Content -->
                        <div class="box-content navigation">
                          <!-- Box Icon -->
                          <i class="fa fa-shopping-cart"></i>
                          <!-- Box Title -->
                          <span class="box-title" style="font-size: 33px">特价专区</span>
                        </div>
                      </a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-sm-offset-6">
                  <div class="box box-md br-purple animated pull-up-sm">
                    <!-- Box Hover Effect -->
                    <div class="box-hover box-hover-black">
                      <!-- Hover Icon -->
                      <span class="hover-icon">进入</span>
                    </div>
                    <!-- Box Link -->
                    <a href="aboutus.html">
                      <!-- Box Link Content -->
                      <div class="box-content navigation">
                        <!-- Box Icon -->
                        <i class="fa fa-shopping-cart"></i>
                        <!-- Box Title -->
                        <span class="box-title" style="font-size: 33px">特价专区</span>
                      </div>
                    </a>
                  </div>
                </div>

              </div>

              <%# ROW 4 %>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <!-- Box Outer Layer [ Box 1 ] -->
                      <div class="box box-md br-green animated">
                        <!-- Box Hover Effect -->
                        <div class="box-hover box-hover-black">
                          <!-- Hover Icon -->
                          <span class="hover-icon">进入</span>
                        </div>
                        <!-- Box Link -->
                        <a href="/lion/group_travel">
                          <!-- Box Link Content -->
                          <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-users fa-5x"></i>
                            <!-- Box Title -->
                            <span class="box-title" style="font-size: 33px">跟团游</span>
                          </div>
                        </a>
                      </div>  
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <!-- Box Outer Layer [ Box 2 ] -->
                      <div class="box box-md br-black animated">
                        <!-- Box Hover Effect -->
                        <div class="box-hover box-hover-black">
                          <!-- Hover Icon -->
                          <span class="hover-icon">进入</span>
                        </div>
                        <!-- Box Link -->
                        <a href="/lion/diy">
                          <!-- Box Link Content -->
                          <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-globe"></i>
                            <!-- Box Title -->
                            <span class="box-title" style="font-size: 33px">自由行</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <!-- Box Outer Layer [ Box 1 ] -->
                      <div class="box box-md br-green animated">
                        <!-- Box Hover Effect -->
                        <div class="box-hover box-hover-black">
                          <!-- Hover Icon -->
                          <span class="hover-icon">进入</span>
                        </div>
                        <!-- Box Link -->
                        <a href="/lion/group_travel">
                          <!-- Box Link Content -->
                          <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-users fa-5x"></i>
                            <!-- Box Title -->
                            <span class="box-title" style="font-size: 33px">跟团游</span>
                          </div>
                        </a>
                      </div>  
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <!-- Box Outer Layer [ Box 2 ] -->
                      <div class="box box-md br-black animated">
                        <!-- Box Hover Effect -->
                        <div class="box-hover box-hover-black">
                          <!-- Hover Icon -->
                          <span class="hover-icon">进入</span>
                        </div>
                        <!-- Box Link -->
                        <a href="/lion/diy">
                          <!-- Box Link Content -->
                          <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-globe"></i>
                            <!-- Box Title -->
                            <span class="box-title" style="font-size: 33px">自由行</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
        <p class="lead" style="font-size; text-indent: 60px; font-size: 30px; text-align: justify">北京众信国际旅行社股份有限公司（简称“众信旅游”）是经国家旅游局、北京市工商行政管理局批准设立的具有独立法人资格的股份制企业，注册资本5829万元，特许经营中国公民出境、入境、国内旅游业务（经营许可证号：L-BJ-CJ00071）。2014年1月23日，众信旅游在深圳证券交易所挂牌上市，成为A股市场上首家民营旅行社上市公司。股票简称：众信旅游，股票代码：002707。</p>

        <p class="lead" style="font-size; text-indent: 60px; font-size: 30px; text-align: justify">公司主要经营出境游批发、零售、商务会奖旅游业务，总部设在北京，并在上海、成都、沈阳、哈尔滨、西安、武汉、厦门、天津、重庆、杭州设有分公司。公司旗下的众信旅游网（www.utourworld.com）作为专业的旅行服务电子商务网站，为旅游者提供团队游、自由行、酒店预订、签证服务、会员服务等一站式全方位的旅游服务。公司是中国旅行社协会、北京市旅游行业协会、亚太旅游协会（PATA）、国际航空运输协会（IATA）会员；2007年底通过了ISO9001质量管理体系认证；2011年在国家旅游局公布的全国百强旅行社排名中，众信旅游位列第四；全国出境游十强旅行社中位列第二；全国利税十强旅行社中位列第五；2012年在国家旅游局公布的全国百强旅行社排名中，众信旅游位列第四；全国税收十强旅行社中位列第三；2013年被北京市旅游发展委员会评为北京市5A级旅行，被北京市旅游发展委员会、北京市人力资源和社会保障局授予“第十四届首都旅游紫禁杯先进集体奖”。</p>

        <p class="lead" style="font-size; text-indent: 60px; font-size: 30px; text-align: justify">作为中国最大的出境游运营商之一，众信旅游坚持以服务品质为前提，以产品为核心，整合机票、酒店、签证、邮轮、境外交通、境外接待服务等出境游产业链各要素资源，是出境旅游产品的制造者和服务的提供者，产品涵盖欧洲、大洋洲、非洲、中东、美洲、亚洲、南北极等全球主要的目的地国家和地区。自2005年以来，众信旅游一直在中国出境游市场特别是长线出境游市场上占有领先地位，是欧洲、北欧、俄罗斯、澳新、非洲、中东、美洲、邮轮、普吉岛、巴厘岛等旅游线路的全国十大批发商之一，多次荣获产品创新奖和营销创新奖等奖项。</p>

        <p class="lead" style="font-size; text-indent: 60px; font-size: 30px; text-align: justify">近年来，公司坚持实施“批发零售一体、线上线下结合”的发展战略，一方面巩固扩大出境游批发业务，建立了基本覆盖全国的旅行社代理商网络，目前已拥有近2000家代理商；另一方面，积极拓展出境游零售业务，建立了众信旅游网站和呼叫中心，截至2014年1月，公司拥有实体门店36家，其中北京34家，天津2家，形成了基本覆盖北京市的门店网络。同时，通过众信会员俱乐部，为会员提供差异化、贴心的服务，拥有大批忠实稳定的客户群。此外，公司还与银行、保险公司等大客户开展了灵活多样的产品及渠道营销合作。</p>

        <p class="lead" style="font-size; text-indent: 60px; font-size: 30px; text-align: justify">公司坚持自主研发电子商务系统，以标准化服务流程为主线，以现代信息技术整合传统旅行社业务，建立了以ERP综合运营管理系统为核心，由ERP系统、众信旅游网（www.utourworld.com）、B2B分销平台和呼叫中心、APP等组成的线上电子商务平台，并初步实现了内部管理及运作的信息化，对上游资源整合、旅游产品研发、销售渠道建设和旅游团队运作等业务关键环节进行管理管控，初步形成线下实体营销网络和线上电子商务相结合的O2O业务模式。</p>

        <p class="lead" style="font-size; text-indent: 60px; font-size: 30px; text-align: justify">公司商务会奖业务近年来得到了快速发展，已经拥有多家世界500强和国内外知名企业客户及政府、机构等客户，赢得了客户的认可和信任，在业内树立了众信商务会奖(U-MICE)专业的品牌地位。</p>

        <p class="lead" style="font-size; text-indent: 60px; font-size: 30px; text-align: justify">公司与各国驻华使领馆、各国旅游局、航空公司、境外地接社、酒店均保持着良好的合作关系，在行业内享有很高的声誉，多次被中国国际航空公司、奥地利航空、海南航空、卡塔尔航空、法国航空、荷兰皇家航空、国泰航空、港龙航空等航空公司授予最佳航空旅游合作奖、最佳团队销售奖、最佳合作伙伴奖等；同时公司是为数不多的具有北京、上海、广州、沈阳、成都等多领区使领馆、特别是欧美国家使领馆送签权的旅行社之一。众信旅游是国内首家独立运作大型境外邮轮包船的旅行社，自2007年以来 ，众信旅游连续七年独立运作了千人乘豪华邮轮游日韩的包船活动，在北京出境游市场产生了重大的反响。</p>

        <p class="lead" style="font-size; text-indent: 60px; font-size: 30px; text-align: justify">作为旅游服务行业中的一员，众信旅游以“诚信、优质”为服务宗旨，坚持将客户感受和体验放在第一位，不断提高产品质量和服务水平，让旅游者真正体验到旅行的乐趣，享受公司的服务。未来，不断锐意进取的众信旅游将为广大消费者和企业客户提供更优质、更专业、更经济、更便捷的产品和服务，成为出境游市场上最可信赖的伙伴，为中国出境旅游事业的发展做出杰出的贡献！</p>

        <p class="lead" style="font-size; text-indent: 60px; font-size: 30px">众信旅游——环球旅游好伙伴！</p>

        <p class="lead" style="font-size; text-indent: 60px; font-size: 30px">众信旅游，让你爱上旅程！</p>
      </div>
    </div>
  </div>
</div>