<% content_for :javascripts do %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<% end %>
<div class="box-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <!-- Box Outer Layer [ Box 1 ] -->
        <div class="box box-md br-yellow animated">
          <!-- Box Hover Effect -->
          <div class="box-hover box-hover-black">
            <!-- Hover Icon -->
            <span class="hover-icon">进入</span>
          </div>
          <!-- Box Link -->
          <a href="/front30/about">
            <!-- Box Link Content -->
            <div class="box-content navigation">
              <!-- Box Icon -->
              <i class="fa fa-users fa-5x"></i>
              <!-- Box Title -->
              <span class="box-title">关于众信</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-6">
        <!-- Box Outer Layer [ Box 2 ] -->
        <div class="box box-md br-lblue animated">
          <!-- Box Hover Effect -->
          <div class="box-hover box-hover-black">
            <!-- Hover Icon -->
            <span class="hover-icon">进入</span>
          </div>
          <!-- Box Link -->
          <a href="/lion/contact">
            <!-- Box Link Content -->
            <div class="box-content navigation">
              <!-- Box Icon -->
              <i class="fa fa-users fa-5x"></i>
              <!-- Box Title -->
              <span class="box-title">联系我们</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="box-wrapper">
  <div class="container">
    <%# ROW 1 %>
    <div class="row">
      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>

      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>

      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>

      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>

      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>

      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>
    </div>

    <%# ROW 2 %>
    <div class="row">
      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>

      <div class="col-md-4">
        <div class="box box-lg br-yellow animated">
          <div class="img-details box-hover-black">
            <span class="hover-icon">进入</span>        
          </div>

          <a href="/front30/about">

            <div class="box-content navigation">


            </div>
          </a>

          <img src="/images/front30_about.jpg" class="img-responsive box-gallery-img" alt="" />

        </div>
      </div>

      <div class="col-md-4">
        <div class="box box-lg br-yellow animated">
          <div class="img-details box-hover-black">
            <span class="hover-icon">进入</span>        
          </div>

          <a href="/lion/contact">

            <div class="box-content navigation">


            </div>
          </a>

          <img src="/images/front30_contactus.jpg" class="img-responsive box-gallery-img" alt="" />
        </div>
      </div>

      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>
    </div>

    <%# ROW 3 %>
    <div class="row">
      <div class="col-md-2">
        <div class="box box-md br-yellow animated pull-up">

        </div>
      </div>
    </div>

    <%# ROW 4 %>
    <div class="row">
      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>

      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>

      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>

      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>

      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>

      <div class="col-md-2">
        <div class="box box-md br-yellow animated">

        </div>
      </div>
    </div>


  </div>
</div> -->


