<% content_for :javascripts do %>
<meta name="viewport" content="width=800">
<% end %>


<!-- Box Wrapper -->
<div class="box-wrapper" style="margin-top: 0; padding-top: 30px">
  <div class="container">

    <!-- Box First Row -->
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 1 ] -->
            <div class="box box-md br-green animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/front30/group">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-users fa-5x"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">跟团游</span>
                </div>
              </a>
            </div>  
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 2 ] -->
            <div class="box box-md br-red animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/front30/group">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-globe"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">自由行</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <!-- Box Outer Layer [ Box 3 ] -->

        <div class="box box-md animated">
          <div class="box-content box-gallery padd-zero">
            <!-- Box Link -->
            <a href="http://erp.utourworld.com/admin/ba/visa/visaSearchMobile.asp">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 33px">签证</span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_2.jpg" class="img-responsive box-gallery-img" alt="" />
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <!-- Box Outer Layer [ Box 4 ] -->
        <div class="box box-md animated">
          <div class="box-content box-gallery padd-zero">

            <!-- Image -->
            <%= image_tag @img2x1s.empty? ? "/images/front30_1.jpg" : @img2x1s.sample.photo.url, class: "img-responsive box-gallery-img" %>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 1 ] -->
            <div class="box box-md br-purple animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/front30/onsale">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-shopping-cart"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">特价专区</span>
                </div>
              </a>
            </div>  
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 2 ] -->
            <div class="box box-md br-yellow animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/front30/dm">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-file-text"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">同业计划</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div style="height: 7px; width: 100%"></div>
<!-- Slider Start -->

<div class="container">
  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul>
        <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" data-link="/landing_page?page=slide1_page.jpg&routid=30230">
          <img src="/images/slide1.jpg"  alt=""  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">    
        </li>
        <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" data-link="/landing_page?page=xixili.jpg&link=http://cd.utourworld.com/tuan/29352" >
          <img src="/images/slide2.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Slider End -->

<!-- Box Wrapper down -->
<div class="box-wrapper" style="margin-top: 0">
  <div class="container">

    <!-- Box First Row -->
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 1 ] -->
            <div class="box box-md br-red animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/front30/travel_guide">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-compass fa-spin"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">出行攻略</span>
                </div>
              </a>
            </div>	
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 2 ] -->
            <div class="box box-md br-yellow animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/front30/video">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-youtube-play"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">出团视频</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <!-- Box Outer Layer [ Box 3 ] -->

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 12 ] -->
            <div class="box box-md br-black animated">
              <div class="box-content slide-up box-gallery padd-zero">
                <!-- Image -->
                <%= image_tag @img1x1s.empty? ? "/images/front30_3.jpg" : @img1x1s.first.photo.url, class: "img-responsive box-gallery-img" %>
                <img src="" class="img-responsive box-gallery-img" alt="" />
                <!-- Image Gallery Caption -->
                <div class="image-gallery-caption movetoup box-hover-black">
                  <!-- Image Title / Heading -->
                  <h4>美丽众信</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 13 ] -->
            <div class="box box-md br-pink animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/bookings">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-th-list"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">我的订单</span>
                </div>
              </a>
            </div>
          </div>
          
        </div>

      </div>
    </div>

    <div class="row">

     <div class="col-md-6 col-sm-6">

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <!-- Box Outer Layer [ Box 1 ] -->
          <div class="box box-md br-blue animated">
            <!-- Box Hover Effect -->
            <div class="box-hover box-hover-black">
              <!-- Hover Icon -->
              <span class="hover-icon">进入</span>
            </div>
            <!-- Box Link -->
            <a href="/system/20120102.pdf">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->
                <i class="fa fa-envelope"></i>
                <!-- Box Title -->
                <span class="box-title" style="font-size: 33px">电子杂志</span>
              </div>
            </a>
          </div>  
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
          <!-- Box Outer Layer [ Box 12 ] -->
          <div class="box box-md animated">
            <div class="box-content slide-up box-gallery padd-zero">
              <!-- Image -->
              <%= image_tag @img1x1s.size > 1 ? @img1x1s.last.photo.url : "/images/front30_4.jpg", class: "img-responsive box-gallery-img" %>
              <!-- Image Gallery Caption -->
              <div class="image-gallery-caption movetoup box-hover-black">
                <!-- Image Title / Heading -->
                <h4>美丽众信</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6">
      <!-- Box Outer Layer [ Box 4 ] -->
      <!-- Box Outer Layer [ Box 1 ] -->
      <div class="box box-md br-lblue animated">
        <!-- Box Hover Effect -->
        <div class="box-hover box-hover-black">
          <!-- Hover Icon -->
          <span class="hover-icon">进入</span>
        </div>
        <!-- Box Link -->
        <a href="/front30/contact_about">
          <!-- Box Link Content -->
          <div class="box-content navigation">
            <!-- Box Icon -->
            <%= image_tag "logo.png", style: "width: 50px" %>
            <!-- Box Title -->
            <span class="box-title" style="font-size: 33px">联系我们</span>
          </div>
        </a>
      </div> 
    </div>
  </div>

</div>
</div>

<% content_for :javascripts do %>
<script type="text/javascript" >

  // SLIDER REVOLUTION Java Script
  jQuery(document).ready(function() {
    jQuery('.tp-banner').revolution(
    {
      delay:3000,
      startheight:500,

      hideThumbs:10,

      navigationType:"none",  


      hideArrowsOnMobile:"on",

      touchenabled:"on",
      onHoverStop:"on",

      navOffsetHorizontal:0,
      navOffsetVertical:20,

      stopAtSlide:-1,
      stopAfterLoops:-1,

      shadow:0,

      fullWidth:"on",
      fullScreen:"off"
    });
  });
</script>
<% end %>