<% content_for :javascripts do %>
<meta name="viewport" content="width=800">
<% end %>


<!-- Box Wrapper -->
<div class="box-wrapper" style="margin-top: 0; padding-top: 30px">
  <div class="container">

    <!-- Box First Row -->
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 1 ] -->
            <div class="box box-md br-green animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/front30/group">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-users fa-5x"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">跟团游</span>
                </div>
              </a>
            </div>  
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 2 ] -->
            <div class="box box-md br-red animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/front30/group">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-globe"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">自由行</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <!-- Box Outer Layer [ Box 3 ] -->

        <div class="box box-md animated">
          <div class="box-content box-gallery padd-zero">
            <!-- Box Link -->
            <a href="/lion/visa">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 33px">签证</span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_2.jpg" class="img-responsive box-gallery-img" alt="" />
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <!-- Box Outer Layer [ Box 4 ] -->
        <div class="box box-md animated">
          <div class="box-content box-gallery padd-zero">

            <!-- Image -->
            <%= image_tag @img2x1s.empty? ? "/images/front30_1.jpg" : @img2x1s.sample.photo.url, class: "img-responsive box-gallery-img" %>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 1 ] -->
            <div class="box box-md br-purple animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/front30/group">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-shopping-cart"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">特价专区</span>
                </div>
              </a>
            </div>  
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 2 ] -->
            <div class="box box-md br-yellow animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/front30/dm">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-file-text"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">同业计划</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div style="height: 7px; width: 100%"></div>
<!-- Slider Start -->

<div class="container">
  <!-- ################################# - THEMEPUNCH BANNER - ################################# -->
  <div class="tp-banner-container">
   <div class="tp-banner" >
    <ul>
     <!-- SLIDE  -->
     <li data-transition="zoomout" data-slotamount="7" data-masterspeed="500" >
      <!-- MAIN IMAGE -->
      <img src="/images/slide1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
      <!-- LAYERS -->
      <!-- LAYERS NR. 1 // -->
      <!-- <div class="tp-caption lfl largegreenbg br-red" style="font-family: Apple LiGothic Medium, Microsoft YaHei"
      data-x="50"
      data-y="140"
      data-speed="1500"
      data-start="1200"
      data-easing="Power4.easeOut"
      data-endspeed="300"
      data-endeasing="Linear.easeNone"
      data-captionhidden="off">狂飙德意志
    </div>	 -->
    <!-- LAYERS NR. 2 -->
    <!-- <div class="tp-caption skewfromleft medium_text paragraph"
    data-x="50"
    data-y="240"
    data-speed="800"
    data-start="1800"
    data-easing="Power4.easeOut"
    data-endspeed="400"
    data-endeasing="Power4.easeOut"
    data-captionhidden="off">At vero eos et accusamus et iusto<br />odio dignissimos ducimus qui blanditiis<br />praesentium voluptatum deleniti atque corrupti.
  </div> -->
  <!-- LAYERS NR. 3 // Slide Button -->
  <div class="tp-caption sfb"
  data-x="50"
  data-y="350"
  data-speed="1500"
  data-start="2600"
  data-easing="Power4.easeOut"
  data-endspeed="300"
  data-endeasing="Linear.easeNone"
  data-captionhidden="off"><a href="/landing_page?page=slide1_page.jpg&routid=30081" class="btn btn-info btn-lg btn-circle"> 点我进入 <i class="fa fa-angle-right"></i></a>
</div>
<!-- LAYERS NR. 1 // Logo Image -->
<!-- <div class="tp-caption skewfromright"
data-x="600"
data-y="bottom"
data-speed="800"
data-start="3600"
data-easing="Power4.easeOut"
data-endspeed="400"
data-endeasing="Power4.easeOut"
data-captionhidden="off"><img src="img/slider/s21.png" class="img-responsive" alt="" />
</div> -->
</li>
<!-- SLIDE  -->
<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" >
  <!-- MAIN IMAGE -->
  <img src="/images/slide2.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
  <!-- LAYERS -->
  <!-- LAYERS NR. 1 // Logo Image -->
<!--   <div class="tp-caption lfl"
  data-x="130"
  data-y="center"
  data-speed="1500"
  data-start="1200"
  data-easing="Power4.easeOut"
  data-endspeed="300"
  data-endeasing="Linear.easeNone"
  data-captionhidden="off"><img src="img/slider/logo.png" class="img-responsive" alt="" />
</div> -->
<!-- LAYERS NR. 2 -->
<!-- <div class="tp-caption lfr thinheadline_dark"
data-x="500"
data-y="120"
data-speed="1500"
data-start="2000"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">Welcome To
</div> -->
<!-- LAYERS NR. 2.1 -->
<!-- <div class="tp-caption lfr very_large_text"
data-x="500"
data-y="150"
data-speed="1500"
data-start="2300"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">众信旅游
</div> -->
<!-- LAYERS NR. 3 -->
<!-- <div class="tp-caption lfr medium_text paragraph"
data-x="500"
data-y="220"
data-speed="1500"
data-start="3000"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">The Boxes Style Theme
</div> -->
<!-- LAYERS NR. 4 // Slide Button -->
<!-- <div class="tp-caption lfr medium_text paragraph"
data-x="500"
data-y="250"
data-speed="1500"
data-start="3400"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">You can customize the CSS <br />of your webpage.
</div> -->
<!-- LAYERS NR. 4.1 // Slide Button -->
<div class="tp-caption sfb"
data-x="500"
data-y="325"
data-speed="1500"
data-start="4200"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off"><a href="/landing_page?page=xixili.jpg&routid=30081" class="btn btn-info btn-lg btn-circle">点击进入 <i class="fa fa-angle-right"></i></a>
</div>
</li>
<!-- SLIDE  -->
<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" >
  <!-- MAIN IMAGE -->
  <img src="/images/xixili_slide.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
  <!-- LAYERS NR. 1 -->
<!--   <div class="tp-caption lfl"
  data-x="100"
  data-y="130"
  data-speed="800"
  data-start="1500"
  data-easing="Power4.easeOut"
  data-endspeed="300"
  data-endeasing="Linear.easeNone"
  data-captionhidden="off"><img src="img/slider/s31.png" class="img-responsive" alt="" />
  </div> -->
<!-- LAYERS NR. 2 -->
<!-- <div class="tp-caption lfl"
data-x="0"
data-y="252"
data-speed="800"
data-start="2100"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off"><img src="img/slider/s32.png" class="img-responsive" alt="" />
</div> -->
<!-- LAYERS NR. 3 -->
<!-- <div class="tp-caption lfl"
data-x="350"
data-y="290"
data-speed="800"
data-start="2700"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off"><img src="img/slider/s33.png" class="img-responsive" alt="" />
</div> -->
<!-- LAYERS NR. 4 -->
<!-- <div class="tp-caption lfl"
data-x="250"
data-y="309"
data-speed="800"
data-start="3300"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off"><img src="img/slider/s34.png" class="img-responsive" alt="" />
</div> -->
<!-- LAYERS NR. 5 // -->
<!-- <div class="tp-caption lfr largegreenbg br-orange"
data-x="right"
data-hoffset="-10"
data-y="140"
data-speed="1500"
data-start="4000"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">Full Responsive
</div>	 -->
<div class="tp-caption sfb"
  data-x="50"
  data-y="350"
  data-speed="1500"
  data-start="2600"
  data-easing="Power4.easeOut"
  data-endspeed="300"
  data-endeasing="Linear.easeNone"
  data-captionhidden="off"><a href="/landing_page?page=xixili.jpg&routid=30086" class="btn btn-info btn-lg btn-circle"> 点我进入 <i class="fa fa-angle-right"></i></a>
<!-- LAYERS NR. 6 // -->
<div class="tp-caption lfr modern_big_redbg br-green"
data-x="right"
data-hoffset="-10"
data-y="220"
data-speed="1500"
data-start="4300"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">Desktop
</div>	
<!-- LAYERS NR. 7 // -->
<div class="tp-caption lfr modern_big_redbg br-yellow"
data-x="right"
data-hoffset="-10"
data-y="270"
data-speed="1500"
data-start="4600"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">Laptop & Tablet
</div>
<!-- LAYERS NR. 8 // -->
<div class="tp-caption lfr modern_big_redbg br-blue"
data-x="right"
data-hoffset="-10"
data-y="320"
data-speed="1500"
data-start="4900"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">Smartphone & i-pad
</div>
<!-- LAYERS NR. 9 // -->
<div class="tp-caption lfr modern_big_redbg br-purple"
data-x="right"
data-hoffset="-10"
data-y="370"
data-speed="1500"
data-start="5200"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">Mobile Phone
</div>
</li>

<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" >
  <!-- MAIN IMAGE -->
  <img src="/images/slide4.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
  <!-- LAYERS NR. 1 -->
<!--   <div class="tp-caption lfl"
  data-x="100"
  data-y="130"
  data-speed="800"
  data-start="1500"
  data-easing="Power4.easeOut"
  data-endspeed="300"
  data-endeasing="Linear.easeNone"
  data-captionhidden="off"><img src="img/slider/s31.png" class="img-responsive" alt="" />
  </div> -->
<!-- LAYERS NR. 2 -->
<!-- <div class="tp-caption lfl"
data-x="0"
data-y="252"
data-speed="800"
data-start="2100"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off"><img src="img/slider/s32.png" class="img-responsive" alt="" />
</div> -->
<!-- LAYERS NR. 3 -->
<!-- <div class="tp-caption lfl"
data-x="350"
data-y="290"
data-speed="800"
data-start="2700"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off"><img src="img/slider/s33.png" class="img-responsive" alt="" />
</div> -->
<!-- LAYERS NR. 4 -->
<!-- <div class="tp-caption lfl"
data-x="250"
data-y="309"
data-speed="800"
data-start="3300"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off"><img src="img/slider/s34.png" class="img-responsive" alt="" />
</div> -->
<!-- LAYERS NR. 5 // -->
<!-- <div class="tp-caption lfr largegreenbg br-orange"
data-x="right"
data-hoffset="-10"
data-y="140"
data-speed="1500"
data-start="4000"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">Full Responsive
</div>   -->
<div class="tp-caption sfb"
  data-x="50"
  data-y="350"
  data-speed="1500"
  data-start="2600"
  data-easing="Power4.easeOut"
  data-endspeed="300"
  data-endeasing="Linear.easeNone"
  data-captionhidden="off"><a href="/landing_page?page=slide4_page.jpg&link=/cruise/index.html" class="btn btn-info btn-lg btn-circle"> 点我进入 <i class="fa fa-angle-right"></i></a>
<!-- LAYERS NR. 6 // -->
<div class="tp-caption lfr modern_big_redbg br-green"
data-x="right"
data-hoffset="-10"
data-y="220"
data-speed="1500"
data-start="4300"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">Desktop
</div>  
<!-- LAYERS NR. 7 // -->
<div class="tp-caption lfr modern_big_redbg br-yellow"
data-x="right"
data-hoffset="-10"
data-y="270"
data-speed="1500"
data-start="4600"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">Laptop & Tablet
</div>
<!-- LAYERS NR. 8 // -->
<div class="tp-caption lfr modern_big_redbg br-blue"
data-x="right"
data-hoffset="-10"
data-y="320"
data-speed="1500"
data-start="4900"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">Smartphone & i-pad
</div>
<!-- LAYERS NR. 9 // -->
<div class="tp-caption lfr modern_big_redbg br-purple"
data-x="right"
data-hoffset="-10"
data-y="370"
data-speed="1500"
data-start="5200"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Linear.easeNone"
data-captionhidden="off">Mobile Phone
</div>
</li>

</ul>
</div>
</div>
</div>

<!-- Slider End -->

<!-- Box Wrapper down -->
<div class="box-wrapper" style="margin-top: 0">
  <div class="container">

    <!-- Box First Row -->
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 1 ] -->
            <div class="box box-md br-red animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/front30/travel_guide">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-compass fa-spin"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">出行攻略</span>
                </div>
              </a>
            </div>	
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 2 ] -->
            <div class="box box-md br-yellow animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/front30/video">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-youtube-play"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">出团视频</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <!-- Box Outer Layer [ Box 3 ] -->

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 12 ] -->
            <div class="box box-md br-black animated">
              <div class="box-content slide-up box-gallery padd-zero">
                <!-- Image -->
                <%= image_tag @img1x1s.empty? ? "/images/front30_3.jpg" : @img1x1s.first.photo.url, class: "img-responsive box-gallery-img" %>
                <img src="" class="img-responsive box-gallery-img" alt="" />
                <!-- Image Gallery Caption -->
                <div class="image-gallery-caption movetoup box-hover-black">
                  <!-- Image Title / Heading -->
                  <h4>美丽众信</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 13 ] -->
            <div class="box box-md br-pink animated">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">进入</span>
              </div>
              <!-- Box Link -->
              <a href="/bookings">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-th-list"></i>
                  <!-- Box Title -->
                  <span class="box-title" style="font-size: 33px">我的订单</span>
                </div>
              </a>
            </div>
          </div>
          
        </div>

      </div>
    </div>

    <div class="row">

     <div class="col-md-6 col-sm-6">

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <!-- Box Outer Layer [ Box 1 ] -->
          <div class="box box-md br-blue animated">
            <!-- Box Hover Effect -->
            <div class="box-hover box-hover-black">
              <!-- Hover Icon -->
              <span class="hover-icon">进入</span>
            </div>
            <!-- Box Link -->
            <a href="/lion/contact">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->
                <i class="fa fa-envelope"></i>
                <!-- Box Title -->
                <span class="box-title" style="font-size: 33px">电子杂志</span>
              </div>
            </a>
          </div>  
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
          <!-- Box Outer Layer [ Box 12 ] -->
          <div class="box box-md animated">
            <div class="box-content slide-up box-gallery padd-zero">
              <!-- Image -->
              <%= image_tag @img1x1s.size > 1 ? @img1x1s.last.photo.url : "/images/front30_4.jpg", class: "img-responsive box-gallery-img" %>
              <!-- Image Gallery Caption -->
              <div class="image-gallery-caption movetoup box-hover-black">
                <!-- Image Title / Heading -->
                <h4>美丽众信</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6">
      <!-- Box Outer Layer [ Box 4 ] -->
      <!-- Box Outer Layer [ Box 1 ] -->
      <div class="box box-md br-lblue animated">
        <!-- Box Hover Effect -->
        <div class="box-hover box-hover-black">
          <!-- Hover Icon -->
          <span class="hover-icon">进入</span>
        </div>
        <!-- Box Link -->
        <a href="/front30/contact_about">
          <!-- Box Link Content -->
          <div class="box-content navigation">
            <!-- Box Icon -->
            <%= image_tag "logo.png", style: "width: 50px" %>
            <!-- Box Title -->
            <span class="box-title" style="font-size: 33px">联系我们</span>
          </div>
        </a>
      </div> 
    </div>
  </div>

</div>
</div>

<% content_for :javascripts do %>
<script type="text/javascript" >

  // SLIDER REVOLUTION Java Script
  jQuery(document).ready(function() {
    jQuery('.tp-banner').revolution(
    {
      delay:9000,
      startheight:500,

      hideThumbs:10,

      navigationType:"none",  


      hideArrowsOnMobile:"on",

      touchenabled:"on",
      onHoverStop:"on",

      navOffsetHorizontal:0,
      navOffsetVertical:20,

      stopAtSlide:-1,
      stopAfterLoops:-1,

      shadow:0,

      fullWidth:"on",
      fullScreen:"off"
    });
  });

  // Cycle Slide Js 

  $('#box-slider-one').cycle({ 
    fx:    'uncover',  
    speed:    200, 
    timeout:  2500 
  });

  /* ******************************************** */
  /* plot js */
  /* *************************************** */  

  $(function() {
    /* Chart data #1 */
    var d1 = [[0, 0], [1, 1.5], [2, 3.2], [3, 4.1],[4, 5.1], [5, 5], [6, 5.3], [7, 6],[8, 6.3], [9, 7], [10, 7.5], [11, 8]];

    var options = {
      series: {
        lines: {
          show: true, fill: false, lineWidth:1
        },
        points: {
          show: true, fill: true, lineWidth:2, radius:3, fillColor: "#fff"
        },
        shadowSize: 0
      },
      colors :["#fff"],
      grid: {
        hoverable: true, color: "#fff", backgroundColor:null ,borderWidth:0, borderColor:"#fff", labelMargin:10
      },
      xaxis: {
        ticks: 10,
        font: {
          size: 12,
          color: ["#fff"]
        }
      },
      yaxis: {
        ticks: 5,
        font: {
          size: 12,
          color: ["#fff"]
        }
      }, 
      legend: {
        backgroundOpacity:0,
        noColumns:2,
        labelBoxBorderColor: null
      }
    };

    $("<div id='tooltip'></div>").css({
      position: "absolute",
      display: "none",
      "border-radius":"1px",
      padding: "4px 5px",
      color:"#999",
      "font-size":"11px",
      "background-color": "#fff",
      "border":"1px solid #ccc",
      "z-index": "20"
    }).appendTo("body");

    // $(".plot-chart").bind("plothover", function (event, pos, item) {
    //   if (item) {
    //     var x = item.datapoint[0].toFixed(2),
    //     y = item.datapoint[1].toFixed(2);

    //     $("#tooltip").html(x + ", " + y)
    //     .css({top: item.pageY+5, left: item.pageX+5})
    //     .fadeIn(200);
    //   } else {
    //     $("#tooltip").hide();
    //   }
    // });

    // $.plot(".plot-chart", [ {data: d1,  label: "Revenue"} ], options);
  });
</script>
<% end %>