<% content_for :javascripts do %>
<meta name="viewport" content="width=850">
<% end %>


<div class="box-wrapper" style="margin-top: 0; padding-bottom: 30px; padding-top: 30px">

  <div class="container">

    <%# ROW 1 %>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 3 ] -->
            <div class="box box-md animated" style="background-color: #e3a21a">

            </div>  
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 4 ] -->
            <div class="box box-md animated" style="background-color: #2b5797">

            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-6">
        <div class="box box-md br-black animated">


          <div class="box-content box-gallery padd-zero">
            <!-- Box Link -->
            <a href="http://dp.sina.cn/dpool/tools/flight/index.php?pos=81&vt=4">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 50px; text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);">航班动态</span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_hangban.jpg" class="img-responsive box-gallery-img" alt="" />
          </div>



        </div> 
      </div>

    </div>


    <%# ROW 2 %>
    <div class="row">
      <div class="col-sm-3">
        <div class="box box-md animated" style="background-color: #ffc40d">

        </div>

      </div>

      <div class="col-sm-6">
        <div class="box box-lg br-black animated">
          

          <div class="box-content box-gallery padd-zero">

            <!-- Box Link -->
            <a href="http://dp.sina.cn/dpool/tools/forex/index.php?vt=4&pos=95&cid=768">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 50px; text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);">货币兑换</span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_huobi.jpg" class="img-responsive box-gallery-img" alt="" />
          </div>

        </div> 
      </div>

      <div class="col-sm-3">
        <div class="box box-md animated" style="background-color: #e3a21a">

        </div>

      </div>
    </div>

    <%# ROW 3 %>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <!-- Box Outer Layer [ Box 7 ] -->
        <div class="box box-md animated pull-up-sm" style="background-color: #da532c">

        </div>
      </div>

      <div class="col-md-3 col-sm-3 col-sm-offset-6">
        <!-- Box Outer Layer [ Box 8 ] -->
        <div class="box box-lg animated br-lblue pull-up-sm">

        </div>
      </div>

    </div>

    <%# ROW 4 %>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <!-- Box Outer Layer [ Box 7 ] -->
        <div class="box box-md animated pull-up-sm" style="background-color: #da532c">
          <div class="box-content box-gallery padd-zero">

            <!-- Box Link -->
            <a href="http://bcs.duapp.com/voice23/0129%E6%AC%A7%E6%B4%B2%E5%9C%B0%E5%9B%BE%E6%AD%A3%E9%9D%A2%E6%9C%80%E7%BB%88%E7%89%88-01.jpg?sign=MBO:C41a385558fb142f4fa2074e99b55e48:jMWXzP%2BN0SGedpwdhKF0083Lt%2F0%3D">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 50px; text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);">世界地图</span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_ditu.jpg" class="img-responsive box-gallery-img" alt="" />
            
            
          </div>

        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <!-- Box Outer Layer [ Box 8 ] -->
        <div class="box box-md animated pull-up-sm" style="background-color: #99b433">

        </div>
      </div>

    </div>

    <%# ROW 5 %>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 3 ] -->
            <div class="box box-md animated" style="background-color: #e3a21a">

            </div>  
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 4 ] -->
            <div class="box box-md animated" style="background-color: #da532c">

            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-6">
        <div class="box box-lg br-black animated">


          <div class="box-content box-gallery padd-zero">

            <!-- Box Link -->
            <a href="http://fanyi.baidu.com/#auto/en/">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 50px; text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);">语言翻译</span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_yuyan.jpg" class="img-responsive box-gallery-img" alt="" />
          </div>



        </div> 
      </div>

    </div>

    <%# ROW 6 %>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <!-- Box Outer Layer [ Box 7 ] -->
        <div class="box box-md animated pull-up-sm" style="background-color: #2b5797">
          <div class="box-content box-gallery padd-zero">

            <!-- Box Link -->
            <a href="http://m.mafengwo.cn/mdd/">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 50px; text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);"></span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_lvyou.jpg" class="img-responsive box-gallery-img" alt="" />
          </div>
        </div>
      </div>
    </div>

    <%# ROW 7 %>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="box box-md br-pink animated">

        </div>  

      </div>

      <div class="col-sm-6">
        <div class="box box-md br-black animated">


          <div class="box-content box-gallery padd-zero">
            <!-- Box Link -->
            <a href="/http://weather1.sina.cn/?vt=4">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 50px; text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);">世界天气</span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_tianqi.jpg" class="img-responsive box-gallery-img" alt="" />
            
          </div>



        </div> 
      </div>

      <div class="col-md-3 col-sm-3">
        <div class="box box-md animated" style="background-color: #e3a21a">


        </div>  

      </div>

    </div>




    
    

  </div>

</div>