<% content_for :javascripts do %>
<meta name="viewport" content="width=850">
<% end %>
<div class="box-wrapper">
  <div class="container">
  <div class="contain" style="margin:50px 15px">

    <%# ROW 1 %>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 3 ] -->
            <div class="box box-md animated" style="background-color: #e3a21a">

            </div>  
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 4 ] -->
            <div class="box box-md animated" style="background-color: #da532c">

            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-6">
        <div class="box box-md br-black animated">


          <div class="box-content box-gallery padd-zero">
            <!-- Box Link -->
            <a href="/lion/visa">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 50px">航班动态</span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_hangban.jpg" class="img-responsive box-gallery-img" alt="" />
          </div>



        </div> 
      </div>

    </div>


    <%# ROW 2 %>
    <div class="row">
      <div class="col-sm-3">
        <div class="box box-md animated" style="background-color: #ffc40d">

        </div>

      </div>

      <div class="col-sm-6">
        <div class="box box-lg br-black animated">
          

          <div class="box-content box-gallery padd-zero">

            <!-- Box Link -->
            <a href="/lion/visa">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 50px">货币兑换</span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_huobi.jpg" class="img-responsive box-gallery-img" alt="" />
          </div>

        </div> 
      </div>

      <div class="col-sm-3">
        <div class="box box-md animated" style="background-color: #e3a21a">

        </div>

      </div>
    </div>

    <%# ROW 3 %>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <!-- Box Outer Layer [ Box 7 ] -->
        <div class="box box-md animated pull-up-sm" style="background-color: #2b5797">

        </div>
      </div>

      <div class="col-md-3 col-sm-3 col-sm-offset-6">
        <!-- Box Outer Layer [ Box 8 ] -->
        <div class="box box-lg animated pull-up-sm" style="background-color: #99b433">

        </div>
      </div>

    </div>

    <%# ROW 4 %>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <!-- Box Outer Layer [ Box 7 ] -->
        <div class="box box-md animated pull-up-sm" style="background-color: #2b5797">
          <div class="box-content box-gallery padd-zero">
            
            <!-- Box Link -->
            <a href="/lion/visa">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 50px">世界天气</span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_tianqi.jpg" class="img-responsive box-gallery-img" alt="" />
          </div>

        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <!-- Box Outer Layer [ Box 8 ] -->
        <div class="box box-md animated pull-up-sm" style="background-color: #99b433">

        </div>
      </div>

    </div>

    <%# ROW 5 %>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 3 ] -->
            <div class="box box-md animated" style="background-color: #e3a21a">

            </div>  
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- Box Outer Layer [ Box 4 ] -->
            <div class="box box-md animated" style="background-color: #da532c">

            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-6">
        <div class="box box-lg br-black animated">


          <div class="box-content box-gallery padd-zero">

            <!-- Box Link -->
            <a href="/lion/visa">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 50px">语言翻译</span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_yuyan.jpg" class="img-responsive box-gallery-img" alt="" />
          </div>



        </div> 
      </div>

    </div>

    <%# ROW 6 %>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <!-- Box Outer Layer [ Box 7 ] -->
        <div class="box box-md animated pull-up-sm" style="background-color: #2b5797">
          <div class="box-content box-gallery padd-zero">

            <!-- Box Link -->
            <a href="/lion/visa">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 50px">货币兑换</span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_huobi.jpg" class="img-responsive box-gallery-img" alt="" />
          </div>
        </div>
      </div>
    </div>

    <%# ROW 7 %>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="box box-md animated" style="background-color: #e3a21a">

        </div>  

      </div>

      <div class="col-sm-6">
        <div class="box box-md br-black animated">


          <div class="box-content box-gallery padd-zero">

            <!-- Box Link -->
            <a href="/lion/visa">
              <!-- Box Link Content -->
              <div class="box-content navigation">
                <!-- Box Icon -->

                <!-- Box Title -->
                <span class="box-title" style="font-size: 50px">世界地图</span>
              </div>
            </a>
            <!-- Image -->
            <img src="/images/front30_ditu.jpg" class="img-responsive box-gallery-img" alt="" />
          </div>



        </div> 
      </div>

      <div class="col-md-3 col-sm-3">
        <div class="box box-md animated" style="background-color: #e3a21a">

        </div>  

      </div>

    </div>




    
    

  </div>
</div>
</div>