<% content_for :javascripts do %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<% end %>



<!-- Inner Page Content // Start -->

<div class="inner-page">
  <div class="container">

    <div class="page-mainbar landing">
      <!-- Landing Content -->
      <div class="landing-content">
        <!-- Landing Hero -->
        <div class="landing-logo">
          <!-- Logo Icon -->
          <%= image_tag "logoabout.png", style: "width: 200px; margin: 10px auto" %>
        </div>
      </div>
    </div>
    <!-- Main-bar Column -->

    <div class="page-mainbar faq">
      <!-- Heading -->
      <h3>出团说明视频</h3>
      <!-- FAQ Page Content -->
      <div class="faq-content">
        <!-- Collapse Item -->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading br-lblue">
              <h4 class="panel-title">
                <!-- Faq title -->
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <h5><i class="fa fa-angle-right"></i>&nbsp; 东欧五国</h5>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <!-- faq details -->
              <div class="panel-body br-lblue">
                <div style="text-align: center">
                  <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTkwMTcyODk2" frameborder=0 allowfullscreen></iframe>
                </div>
                
                <p></p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading br-green">
              <h4 class="panel-title">
                <!-- Faq title -->
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  <h5><i class="fa fa-angle-right"></i>&nbsp; 北欧四国</h5>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <!-- faq details -->
              <div class="panel-body br-green">
                <div style="text-align: center">
                  <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTkwMTcxNzY0" frameborder=0 allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading br-purple">
              <h4 class="panel-title">
                <!-- Faq title -->
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                 <h5><i class="fa fa-angle-right"></i>&nbsp; 处女星邮轮</h5>
               </a>
             </h4>
           </div>
           <div id="collapseThree" class="panel-collapse collapse">
            <!-- faq details -->
            <div class="panel-body br-purple">
              <div style="text-align: center">
                <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTkwMTcyMjc2" frameborder=0 allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading br-red">
            <h4 class="panel-title">
              <!-- Faq title -->
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                <h5><i class="fa fa-angle-right"></i>&nbsp; 加勒比邮轮</h5>
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <!-- faq details -->
            <div class="panel-body br-red">
              <div style="text-align: center">
                <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTkwMTczMzQ0" frameborder=0 allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading br-blue">
            <h4 class="panel-title">
              <!-- Faq title -->
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                <h5><i class="fa fa-angle-right"></i>&nbsp; 意大利</h5>
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <!-- faq details -->
            <div class="panel-body br-blue">
              <div style="text-align: center">
                <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTYwNDUyMTcy" frameborder=0 allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading br-orange">
            <h4 class="panel-title">
              <!-- Faq title -->
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
               <h5><i class="fa fa-angle-right"></i>&nbsp; 澳大利亚和新西兰</h5>
             </a>
           </h4>
         </div>
         <div id="collapseSix" class="panel-collapse collapse">
          <!-- faq details -->
          <div class="panel-body br-orange">
            <div style="text-align: center">
              <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTYwNDQ0Mjg0" frameborder=0 allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading br-pink">
          <h4 class="panel-title">
            <!-- Faq title -->
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
              <h5><i class="fa fa-angle-right"></i>&nbsp; 南非</h5>
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
          <!-- faq details -->
          <div class="panel-body br-pink">
            <div style="text-align: center">
              <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTYwNDIxNTUy" frameborder=0 allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading br-lblue">
          <h4 class="panel-title">
            <!-- Faq title -->
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
              <h5><i class="fa fa-angle-right"></i>&nbsp; 肯尼亚</h5>
            </a>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
          <!-- faq details -->
          <div class="panel-body br-lblue">
            <div style="text-align: center">
              <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTYwNDE1MDk2" frameborder=0 allowfullscreen></iframe>
            </div>

            <p></p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading br-green">
          <h4 class="panel-title">
            <!-- Faq title -->
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
              <h5><i class="fa fa-angle-right"></i>&nbsp; 埃及</h5>
            </a>
          </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
          <!-- faq details -->
          <div class="panel-body br-green">
            <div style="text-align: center">
              <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTYwMzcyNzIw" frameborder=0 allowfullscreen></iframe>
            </div>

            <p></p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading br-purple">
          <h4 class="panel-title">
            <!-- Faq title -->
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
              <h5><i class="fa fa-angle-right"></i>&nbsp; 希腊</h5>
            </a>
          </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
          <!-- faq details -->
          <div class="panel-body br-purple">
            <div style="text-align: center">
              <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTkwMTc1MTc2" frameborder=0 allowfullscreen></iframe>
            </div>

            <p></p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading br-red">
          <h4 class="panel-title">
            <!-- Faq title -->
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
              <h5><i class="fa fa-angle-right"></i>&nbsp; 西班牙和葡萄牙</h5>
            </a>
          </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse">
          <!-- faq details -->
          <div class="panel-body br-red">
            <div style="text-align: center">
              <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTYwNDU0MTg4" frameborder=0 allowfullscreen></iframe>
            </div>

            <p></p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading br-blue">
          <h4 class="panel-title">
            <!-- Faq title -->
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse12">
              <h5><i class="fa fa-angle-right"></i>&nbsp; 西欧六国</h5>
            </a>
          </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse">
          <!-- faq details -->
          <div class="panel-body br-blue">
            <div style="text-align: center">
              <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTYwNDM1ODgw" frameborder=0 allowfullscreen></iframe>
            </div>

            <p></p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading br-orange">
          <h4 class="panel-title">
            <!-- Faq title -->
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse13">
              <h5><i class="fa fa-angle-right"></i>&nbsp; 迪拜</h5>
            </a>
          </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse">
          <!-- faq details -->
          <div class="panel-body br-orange">
            <div style="text-align: center">
              <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTYwNDE5OTg0" frameborder=0 allowfullscreen></iframe>
            </div>

            <p></p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading br-pink">
          <h4 class="panel-title">
            <!-- Faq title -->
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse14">
              <h5><i class="fa fa-angle-right"></i>&nbsp; 美国</h5>
            </a>
          </h4>
        </div>
        <div id="collapse14" class="panel-collapse collapse">
          <!-- faq details -->
          <div class="panel-body br-pink">
            <div style="text-align: center">
              <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTkwMTY5NzA0" frameborder=0 allowfullscreen></iframe>
            </div>

            <p></p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading br-lblue">
          <h4 class="panel-title">
            <!-- Faq title -->
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse15">
              <h5><i class="fa fa-angle-right"></i>&nbsp; 英国</h5>
            </a>
          </h4>
        </div>
        <div id="collapse15" class="panel-collapse collapse">
          <!-- faq details -->
          <div class="panel-body br-lblue">
            <div style="text-align: center">
              <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTYwNDUxOTU2" frameborder=0 allowfullscreen></iframe>
            </div>

            <p></p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading br-green">
          <h4 class="panel-title">
            <!-- Faq title -->
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse16">
              <h5><i class="fa fa-angle-right"></i>&nbsp; 瑞士</h5>
            </a>
          </h4>
        </div>
        <div id="collapse16" class="panel-collapse collapse">
          <!-- faq details -->
          <div class="panel-body br-green">
            <div style="text-align: center">
              <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTYwNDU3MTg4" frameborder=0 allowfullscreen></iframe>
            </div>

            <p></p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading br-purple">
          <h4 class="panel-title">
            <!-- Faq title -->
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse17">
              <h5><i class="fa fa-angle-right"></i>&nbsp; 突尼斯</h5>
            </a>
          </h4>
        </div>
        <div id="collapse17" class="panel-collapse collapse">
          <!-- faq details -->
          <div class="panel-body br-purple">
            <div style="text-align: center">
              <iframe style="max-height: 498px; max-width: 510px; width: 100%" src="http://player.youku.com/embed/XMTYwNDUzOTQ0" frameborder=0 allowfullscreen></iframe>
            </div>

            <p></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


</div>
</div>

<!-- Inner Page Content // End -->



