<div class="row">
	<div class="col-xs-4">
		<%= image_tag activities[0].image.photo.url(:thumb), style: "width: 100%" %>
	</div>
  <div class="col-xs-4">
    <%= image_tag activities[1].image.photo.url(:thumb), style: "width: 100%" %>
  </div>
</div>