<% content_for :stylesheet do %>
<% end %>
<div id="legacy_window" class="container">
  <div id="tour_slider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% (0 .. @pictures.size-1).each do |i| %>
      <% if i == 0 %>
        <li data-target="#tour_slider" data-slide-to="<%= i %>" class="active"></li>
      <% else %>
        <li data-target="#tour_slider" data-slide-to="<%= i %>"></li>
      <% end %>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% (0 .. @pictures.size-1).each do |i| %>
      <% if i == 0 %>
        <div class="item active"><%= image_tag "/images/tours/#{@pictures[i]}", alt: "抱歉, 无法显示行程图片..." %></div>
      <% else %>
        <div class="item"><%= image_tag "/images/tours/#{@pictures[i]}", alt: "抱歉, 无法显示行程图片..." %></div>
      <% end %>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control hidden-xs hidden-sm" href="#tour_slider" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control hidden-xs hidden-sm" href="#tour_slider" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<script>
$('.carousel').carousel({
  interval: false,
  wrap: false
});

$(document).ready(function() {  
 $("#tour_slider").swiperight(function() {  
  $(this).carousel('prev');  
});  
 $("#tour_slider").swipeleft(function() {  
  $(this).carousel('next');  
});  
});  
</script>