<% content_for :stylesheet do %>
<%= stylesheet_link_tag "tours", media: "all", "data-turbolinks-track" => true %>
<% end %>

<div class="container classic_tour_view">
  <%= image_tag "japan.jpg", class: "head_img" %>
  <%= image_tag "countries/japan_square_icon_256.png", class: "head_icon pull-right" %>
  <div class="content">
    <h2><%= @tour.name %></h2>
  </div>
</div>



