// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#booking_page {
  .booking_head {
    background-color: #F2F2F2;
    padding: 15px;
    margin: 0 -15px 15px -15px;
    h2 {
      margin: 0;
      text-align: center;
    }
  }
	
  img {
    margin: 20px auto 30px auto;
    width: 100%;
  }

  .head_text {
    color: #9F1B32;
    font-size: 24px;
    text-align: center;
  }
  .info_text {
    font-size: 12px;
    text-align: center;
    padding: 5px;
    width: auto;
  }
  .booking_links {
    text-align: center;

  }
}

#account_specific_index {
  
}

#booking_list {
  h2 {
    text-align: center;
  }

  table td { vertical-align: middle; }
}