/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap3-switch
 *= require font-awesome
 *= require slidebars
 *= require demo
 *= require ekko-lightbox
 *= require tours
 */

/* GLOBAL CSS */
 .has-switch label { 
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
 }
 .full_width { width: 100% }

 .form_window {
   h2 { text-align: center; }
 }

 .copyright {
  padding: 8px;
  text-align: center;
  font-size: 14px;
  color: #666;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
}

/* account.css */

.container-full {
  margin: 0 auto;
  width: 100%;
}

.field_with_errors {

}
.inline_error_message {
  color: red;
}

.account_new {
  padding: 0 15px;
  background-color: #fff;
  h2 {
    text-align: center;
    margin: 10px;
  }
}

.trade_activation
{
  max-width: 800px;
  h2 
  {
    text-align: center;
  }
}

/*
.activation_box
{
  border:2px dashed #ccc;
  margin: 0 50px;
  padding: 20px;
}
*/

/* bookings.css */
#booking_page {
  .booking_head {
    background-color: #F2F2F2;
    padding: 15px;
    margin: 0 -15px 15px -15px;
    h2 {
      margin: 0;
      text-align: center;
    }
  }
  
  img {
    margin: 20px auto 30px auto;
    width: 100%;
  }

  .head_text {
    color: #9F1B32;
    font-size: 24px;
    text-align: center;
  }
  .info_text {
    font-size: 12px;
    text-align: center;
    padding: 5px;
    width: auto;
  }
  .booking_links {
    text-align: center;

  }
}

#account_specific_index {
  
}

#booking_list {
  table { margin: 5px }
  .booking_list_head { margin: 0 0 25px 0;}
  h2 {
    text-align: center;
  }

  .tour_icon {
    width: 60px;
  }
  .tour_title {
    h4 { margin-top: 0}
    padding: 0 10px;
  }

  #table td { vertical-align: middle; }

  .booking_detail {
    margin: 5px 0;
    div { padding: 0 5px }
    .booking_label { width: 100% }
  }
}

/* lion.css */
.lion {
  max-width: 800px;
  background-color: #fff;
}
.head
{
  margin: 0 -15px;
}

.tile_menu
{
  padding: 10px 0 0 0;  
}

.tile-cust-blue{ background-color: #3399ff }
.full_tile { width: 100%; }

.tile_title {
  font-size: 14px;
  text-align: left;
  margin-top: 2px;
}

.menu_icon {
  width: 40px;
  height: 40px;
}

.menu_company_icon {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  font-weight: bold;
}

/* main menu bar */

/* ---------------
 * Slidebars Theme
 *
 * ---------
 * CSS Index
 *
 * 001 - Box Model
 * 002 - Site
 * 003 - Slidebars
 * 004 - Slidebar Menus
 * 005 - Slidebar Widgets
 * 006 - Top Navigation Bar
 * 007 - Slidebar Controls
 *
 * ---------------
 * 001 - Box Model
 */

* {
  /* Highly recommended to avoid any width alterations in the Slidebars or Site, which may cause horizontal scrolling. */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ----------
 * 002 - Site
 */

#sb-site {
  padding: 65px 15px 15px 15px;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3); /* Casts a shadow onto the Slidebars from site. */
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
  background-color: #222222; /* Background colour. */
  color: #e8e8e8; /* Text colour. */
}

.sb-slidebar a {
  color: #f2f2f2; /* Link colour. */
  text-decoration: none;
}

.sb-slidebar a:hover {
  color: #49AEF2; /* Link hover colour. */
  text-decoration: underline;
}

/* --------------------
 * 004 - Slidebar Menus
 */
 
/* Main Menu */
.sb-menu { /* Apply to <ul> or <ol>. */
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sb-menu li {
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* Will lighten any background colour you set. */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Will darken any background colour you set. */
}

.sb-menu > li:first-child {
  border-top: none; /* Removes top border from first list item.. */
}

.sb-menu > li:last-child {
  border-bottom: none; /* Removed bottom border from last list item. */
}

.sb-menu li a {
  width: 100%; /* Makes links full width. */
  display: inline-block;
  padding: 1em; /* Creates an even padding the same size as your font. */
}

.sb-menu li img {
  padding: 1em; 
}

.sb-menu li small {
  display: inline-block;
  padding: 1em; 
}

.sb-menu li a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05); /* Will lighten any background colour you set. */
}

/* Borders */
.sb-left .sb-menu li a {
  border-left: 3px solid transparent;
}

.sb-left .sb-menu li a:hover {
  border-left: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

.sb-right .sb-menu li a {
  border-right: 3px solid transparent;
}

.sb-right .sb-menu li a:hover {
  border-right: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

/* Submenus */
.sb-submenu {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.05); /* Submenu background colour. */
}

/* Caret */
span.sb-caret {
  width: 0;
  height: 0;
  display: inline-block;
  margin: 0 5px;
  border: 5px solid transparent;
}

span.sb-caret { /* Caret Down */
  border-top: 5px solid;
  border-bottom: 0px solid transparent;
}

.sb-submenu-active > span.sb-caret { /* Caret Up */
  border-top: 0px solid transparent;
  border-bottom: 5px solid;
}

/* ----------------------
 * 005 - Slidebar Widgets
 */

.sb-widget {
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.1); /* Will lighten any background colour you set. */
  margin: 14px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); /* Slight shadow. */
}

.sb-widget-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Will darken any background colour you set. */
  padding: 14px;
  background-color: #292929; /* Widget title background colour. */
}

.sb-widget-title {
  margin: 0; /* Removes browser default margins for heading tags. */ 
}

.sb-widget-content {
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* Will lighten any background colour you set. */
  padding: 14px;
  background-color: #262626; /* Widget content background colour. */
}

/* ------------------------
 * 006 - Top Navigation Bar
 */

.sb-navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  z-index: 1000;
  background-color : transparent;
  //background-color: #219AEB; /* Bar colour. */
  
  //box-shadow:
    /* Layered single pixel shadows to create a one sided shadow effect. */
    //0 5px 0 0 rgba(0, 0, 0, 0.01),
    //0 4px 0 0 rgba(0, 0, 0, 0.02),
    //0 3px 0 0 rgba(0, 0, 0, 0.04),
    //0 2px 0 0 rgba(0, 0, 0, 0.06),
    //0 1px 0 0 rgba(0, 0, 0, 0.08),
    /* Top highlight */
    //0 1px 0 0 rgba(255, 255, 255, 0.1) inset,
    /* Left highlight */
    //1px 0 0 0 rgba(255, 255, 255, 0.1) inset,
    /* Right highlight */
    //-1px 0 0 0 rgba(255, 255, 255, 0.1) inset,
    /* Bottom lowlight */
    //0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    
  /* Glass gradient overlay, works with any colour background. */
  //background-image: -webkit-linear-gradient(top, rgba(255,255,255, 0.05) 50%, rgba(0,0,0, 0.02) 51%); /*  Webkit syntax. */
  //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 50%, rgba(0, 0, 0, 0.02) 51%); /* Final syntax. */
  //background-size: 100%;
  //background-repeat: no-repeat;
}

html.sb-android .sb-navbar {
  position: absolute; /* Fix navbar to top for old versions of Android Browser. */
}

/* Navbar Menu Items */
.sb-navbar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sb-navbar-menu-left {
  float: left;
}

.sb-navbar-menu-right{
  float: right;
}

.sb-navbar-menu li {
  padding: 0;
  margin: 0;
  display: block;
  float: left;
}

.sb-navbar-menu li a {
  display: inline-block;
  color: #f2f2f2; /* Navbar link colour */
  padding: 14px;
  text-decoration: none;
}

.sb-navbar-menu li a:hover {
  color: #f2f2f2; /* Navbar link hover colour */
  background-color: rgba(0, 0, 0, 0.05); /* Will lighten any background colour you set. */
}

/* -----------------------
 * 007 - Slidebar Controls
 */
 
.sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
  cursor: pointer; /* Help desktop users with Slidebar controls. */
}

/* Navicons */
/* These are prefixed with .sb-navbar to avoid styling other Slidebar toggles you may be using. */
.sb-navbar .sb-toggle-left {
  width: 52px;
  float: left;
  padding: 14px;
}

.sb-navbar .sb-toggle-right {
  width: 52px;
  float: right;
  padding: 14px;
}

.navicon-line {
  width: 24px;
  height: 4px;
  border-radius: 1px;
  margin-bottom: 3px;
  background-color: #000; /* Colour of navicon lines. */
}

/* Hover states to match navbar menu item hover. */
.sb-navbar .sb-toggle-left:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Will lighten any background colour you set. */
}

.sb-navbar .sb-toggle-right:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Will lighten any background colour you set. */
}






/* left sidebar */

.log_in_card {
  width: 100%;
  padding: 0 15px;
  margin-top: 40px;
  p { 
    margin: 20px 0;
    text-align: center;
  }
}

.log_in_card form { margin: 0 15px }

/* right sidebar */

.user_card {
  width: 100%;
  padding: 0 15px;
  margin-top: 40px;

  hr { border-color: #1C1C1C; }

  p { 
    margin: 20px 0;
    text-align: center;
  }

}

.user_card a { margin: 10px 0;}

.user_card form { margin: 0 15px }

/* both */

/* Slidebar Type */



.sb-slidebar .portray {
  width: 120px;
  margin: 0 auto 0 auto;
  display: block;
}

/* session.css */
.session_login_window {
  h2 { text-align: center; }
}

.session_mobile_container {
  max-width: 800px;

  .form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
  }
}

.user_card .portray {
  width: 180px;
  margin: 30px auto 30px auto;
  display: block;
//  background-color: #eee

}
.apollo-seperator {
  position: relative;
  display: block;
  margin: 10px 0 10px 0;
  text-align: center;
  color: #666;
}

.apollo-seperator:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 43%;
  border-bottom: 1px solid #cccccc;
}
.apollo-seperator:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 43%;
  border-bottom: 1px solid #cccccc;
}

/* tour.css */
$indicator_color: #CC0099;

#classic {
  max-width: 600px;
  margin: 0 auto;
  .head_image {
    width: 100%;
  }
}


///////////////////////////////////////////////////////////

#legacy_window {
  left: 0;
  top: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #999
}
#tour_slider{
  margin: 0 auto;
  height: 100%;
  width: auto;

  .carousel-indicators li {
    border: 1px solid $indicator_color;
  }
  .carousel-indicators .active {
    background-color: $indicator_color;
  }

  .carousel-inner {
    height: 100%;
  }

  .carousel-inner .item { 
    position: fixed;
    height: 100%;
    width: 100%;
  }

  .carousel-inner .item img { 
    margin: 0 auto;
    height: 100%;
  }

}

/* user_group.css */
//$tree_border_color_normal = 

.user_group_tree_view ul {
  padding-top: 20px; position: relative;
  
  -transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.user_group_tree_view li {
  float: left; text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  
  -transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/* We will use ::before and ::after to draw the connectors */

.user_group_tree_view li::before, .user_group_tree_view li::after{
  content: '';
  position: absolute; top: 0; right: 50%;
  border-top: 3px solid #ccc;
  width: 50%; height: 20px;
}
.user_group_tree_view li::after{
  right: auto; left: 50%;
  border-left: 3px solid #ccc;
}

/* We need to remove left-right connectors from elements without any siblings */
.user_group_tree_view li:only-child::after, .user_group_tree_view li:only-child::before {
  display: none;
}

/* Remove space from the top of single children */
.user_group_tree_view li:only-child{ padding-top: 0;}

/* Remove left connector from first child and right connector from last child */
.user_group_tree_view li:first-child::before, .user_group_tree_view li:last-child::after{
  border: 0 none;
}
/* Adding back the vertical connector to the last nodes */
.user_group_tree_view li:last-child::before{
  border-right: 3px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.user_group_tree_view li:first-child::after{
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/* Time to add downward connectors from parents */
.user_group_tree_view ul ul::before{
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 3px solid #ccc;
  width: 0; height: 20px;
}

/*.user_group_tree_view li a{
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  
  -transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}*/

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
/*.user_group_tree_view li a:hover, .tree li a:hover+ul li a {
  background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}*/
/*Connector styles on hover*/
.user_group_tree_view li a:hover+ul li::after, 
.user_group_tree_view li a:hover+ul li::before, 
.user_group_tree_view li a:hover+ul::before, 
.user_group_tree_view li a:hover+ul ul::before{
  border-color: #B8860B;
  border-width: 3px;
}

/* wechat_web.css */

.date_and_price_table {
  th, td {
    text-align: center;
  }
}

.group_travel_menu {
  margin-top: 10px;
}

.whole_heading_link {
  a, a:hover {
    text-decoration: none;
    h2 {
      color: #FFFFFF;
      font-size: 22px;
      text-align: center;
    }
    h3 {
      color: #31708F;
      font-size: 20px;
      text-align: center;
    }
  }
}
.menu_body_1 { padding: 5px; }

.menu_body_2 { padding: 0px; }
.menu_list { margin: 0 }

.visa {
  margin-top: 20px;
  h2 { 
    text-align: center;
    margin-bottom: 20px;
  }
}


.visa .col-xs-4 {
  padding: 0 5px;
  .thumbnail {
    h3 { 
      text-align: center;
      font-size: 18px;
      margin: 10px auto;
    }
  }
}

.lion .trade {
  margin-top: 20px;
}