
#sb-site{
  background-color: #fff;
  .metro {
    margin: 0 auto;
    max-width: 400px;
  }
}
.navicon-line{
  background-color: #000; 
}
/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.date_row{
  margin: 10px 0;
}


a.list:last-of-type { border-bottom:none }