

body {
  background-color: #eee;
}
.lion {
  max-width: 800px;
  background-color: #fff;
}
.head
{
	margin: 0 -15px;
}

.tile_menu
{
  padding: 10px 0 0 0;  
}

.tile-cust-blue{ background-color: #3399ff }
.full_tile { width: 100%; }

.tile_title {
  font-size: 14px;
  text-align: left;
  margin-top: 2px;
}

.menu_icon {
  width: 40px;
  height: 40px;
}

.menu_company_icon {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  font-weight: bold;
}