/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require accounts
 *= require legacies
 *= require lion_nav
 *= require metro-bootstrap
 *= slidebars
 *= wechat_webs
 */


body {
  background-color: #eee;
}
.lion {
  max-width: 800px;
  background-color: #fff;
}
.head
{
	margin: 0 -15px;
}

.tile_menu
{
  padding: 10px 0 0 0;  
}

.tile-cust-blue{ background-color: #3399ff }
.full_tile { width: 100%; }

.tile_title {
  font-size: 14px;
  text-align: left;
  margin-top: 2px;
}

.menu_icon {
  width: 40px;
  height: 40px;
}

.menu_company_icon {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  font-weight: bold;
}