// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session_login_window {
  h2 { text-align: center; }
  .full_button { width: 100%; }
}