.classic_tour_view {
	//background-color: #eee;
	max-width: 400px;
  padding: 0;

  .head_img { width: 100%;}
  .head_icon {
    height: 80px;
    width: 80px;
    margin: -55px 5px auto auto;
    z-index: 10;
    position: relative;
  }
	.content{
    margin-top: 80px;
    padding: 0 15px;

    h3 {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  .day { margin: 30px 0}
  table td.day_content {
    h4 { margin: 0 0 5px 0 }
    h4, p { padding-left: 5px; } 
    div.row { 
      padding: 5px 0;
      margin: 0;
      div { padding: 0 5px; }
    }
  }
  

}