.classic_tour_view {
	background-color: #eee;
	width: 600px;
  padding: 0;

  .head_img { width: 100%;}
  .head_icon {
    height: 120px;
    margin: -80px 15px auto auto;
    z-index: 10;
    position: relative;
  }
	.content{
    margin-top: 80px;
    padding: 0 15px;

    h2 { text-align: center }
  }
}