
<li><a href="/lion/group_travel">团队行程</a></li>
<li><a href="/lion/diy">自由行程</a></li>
<li><a href="/lion/visa">签证</a></li>
<li><a href="/lion/sale">精品推荐</a></li>
<li><a href="/lion/guide">出行攻略</a></li>
<li><a href="/lion/trade">同业交流</a></li>
<li><a href="/lion/contact">联系我们</a></li>