<% content_for :left_links do %>
<% render "left_links" %>
<% end %>

<div class="container lion">
  <div class="head">
    <%= image_tag "legacy/carousel/le_0.jpg", alt: "picture", style: "width:100%" %>
  </div>
  
  <div class="group_travel_menu">
    <div id="continent_panel" class="accordion-group panel-group">

      <div class="panel panel-primary">
        <div class="panel-heading whole_heading_link">  
          <a data-toggle="collapse" data-parent="#continent_panel" href="#asia">
            <h2 class="panel-title">
              亚洲行程
            </h2>
          </a>
        </div>
        <div id="asia" class="panel-collapse collapse">
          <div class="panel-body menu_body_1" >



            <div class="panel-group" id="asia_country_panel">
              <div class="panel panel-success">
                <div class="panel-heading whole_heading_link">                  
                  <a data-toggle="collapse" data-parent="#asia_country_panel" href="#japan">
                    <h3 class="panel-title">
                      日本                    
                    </h3>
                  </a>
                </div>
                <div id="japan" class="panel-collapse collapse">
                  <div class="panel-body menu_body_2" >
                    <% if @tours.any?{|tour| tour.tour_group == "japan"} %>
                    <div class="list-group menu_list">
                      <% @tours.each do |tour| %>
                      <% if tour.tour_group ==  "japan" %>
                      <a href="/tours/1/legacy" class="list-group-item">
                        <h4 class="list-group-item-heading"><%= tour.name %></h4>
                        <p class="list-group-item-text"><%= tour.description %></p>
                      </a>
                      <% end %>
                      <% end %>
                    </div>
                    <% else %>
                      暂无
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="panel panel-info">
                <div class="panel-heading whole_heading_link">
                  <a data-toggle="collapse" data-parent="#asia_country_panel" href="#korea">
                    <h3 class="panel-title">
                      韩国
                    </h3>
                  </a>
                </div>
                <div id="korea" class="panel-collapse collapse">
                  <div class="panel-body">
                    暂无
                  </div>
                </div>
              </div>


              <div class="panel panel-info">
                <div class="panel-heading whole_heading_link">
                  <a data-toggle="collapse" data-parent="#asia_country_panel" href="#thailand">
                    <h3 class="panel-title">
                      泰国
                    </h3>
                  </a>
                </div>
                <div id="thailand" class="panel-collapse collapse">
                  <div class="panel-body">
                    暂无
                  </div>
                </div>
              </div>

            </div>


          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading whole_heading_link">
          <a data-toggle="collapse" data-parent="#continent_panel" href="#europe">
            <h2 class="panel-title">
              欧洲行程
            </h2>
          </a>
        </div>
        <div id="europe" class="panel-collapse collapse">
          <div class="panel-body">
            暂无
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading whole_heading_link">
          <a data-toggle="collapse" data-parent="#continent_panel" href="#america">
            <h2 class="panel-title">
              美洲行程
            </h2>
          </a>
        </div>
        <div id="america" class="panel-collapse collapse">
          <div class="panel-body">
            暂无
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading whole_heading_link">
          <a data-toggle="collapse" data-parent="#continent_panel" href="#australia">
            <h2 class="panel-title">
              澳新行程
            </h2>
          </a>
        </div>
        <div id="australia" class="panel-collapse collapse">
          <div class="panel-body">
            暂无
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading whole_heading_link">
          <a data-toggle="collapse" data-parent="#continent_panel" href="#africa">
            <h2 class="panel-title">
              非洲行程
            </h2>
          </a>
        </div>
        <div id="africa" class="panel-collapse collapse">
          <div class="panel-body">
            暂无
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script>

</script>