<% content_for :stylesheet do %>
<% end %>

<% content_for :left_links do %>
<% render "left_links" %>
<% end %>

<div class="container lion">
  <div class="head">
    <%= image_tag "legacy/carousel/le_1.jpg", alt: "picture", style: "width:100%" %>
  </div>
  <div class="trade">
    <div class="list-group">
      <a href='http://dp.sina.cn/dpool/tools/forex/index.php?vt=4&pos=95&cid=768' class="list-group-item">货币兑换</a>
      <a href='http://dp.sina.cn/dpool/tools/flight/index.php?pos=81&vt=4' class="list-group-item">航班动态</a>
      <a href='http://fanyi.baidu.com/#auto/en/' class="list-group-item">多种语言翻译</a>
      <a href='http://m.mafengwo.cn/mdd/' class="list-group-item">旅游攻略</a>
      <a href='http://weather1.sina.cn/?vt=4' class="list-group-item">世界天气</a>
    </div>
  </div>
</div>