<% content_for :stylesheet do %>
<% end %>

<% content_for :left_links do %>
<% render "left_links" %>
<% end %>

<div class="container lion">
  <div class="head">
    <%= image_tag "legacy/carousel/le_0.jpg", alt: "picture", style: "width:100%" %>
  </div>
  <embed src="http://player.youku.com/player.php/sid/XMzI2NTc4NTMy/v.swf" 
  width="480" height="400" 
  type="application/x-shockwave-flash">
</embed>
<div class="">

  <br/>
  <div class="jumbotron">
    <h1>最新DM单</h1>
    <p></p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item">
      Cras justo odio
    </a>
    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item">Morbi leo risus</a>
    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item">Vestibulum at eros</a>
  </div>
</div>
</div>