<% content_for :stylesheet do %>
<% end %>

<% content_for :left_links do %>
<% render "left_links" %>
<% end %>

<div class="container lion">
  <div class="head">
    <%= image_tag "legacy/carousel/le_0.jpg", alt: "picture", style: "width:100%" %>
  </div>
  <div class="trade">
    <div class="list-group">
      <a href="http://v.youku.com/v_show/id_XMTkwMTcyODk2.html" class="list-group-item">欧洲五国</a>
      <a href="http://v.youku.com/v_show/id_XMTkwMTcxNzY0.html" class="list-group-item">芬兰、瑞士、挪威和芬兰</a>
      <a href="http://v.youku.com/v_show/id_XMTkwMTcyMjc2.html" class="list-group-item">处女星号游轮</a>
      <a href="http://v.youku.com/v_show/id_XMTkwMTczMzQ0.html" class="list-group-item">加勒比游轮</a>

      <a href="http://v.youku.com/v_show/id_XMTYwNDUyMTcy.html" class="list-group-item">意大利</a>
      <a href="http://v.youku.com/v_show/id_XMTYwNDQ0Mjg0.html" class="list-group-item">澳大利亚和新西兰</a>
      <a href="http://v.youku.com/v_show/id_XMTYwNDIxNTUy.html" class="list-group-item">南非</a>
      <a href="http://v.youku.com/v_show/id_XMTYwNDE1MDk2.html" class="list-group-item">肯尼亚</a>
      <a href="http://v.youku.com/v_show/id_XMTYwMzcyNzIw.html" class="list-group-item">埃及</a>
      <a href="http://v.youku.com/v_show/id_XMTkwMTc1MTc2.html" class="list-group-item">希腊</a>
      <a href="http://v.youku.com/v_show/id_XMTYwNDU0MTg4.html" class="list-group-item">西班牙和葡萄牙</a>
      <a href="http://v.youku.com/v_show/id_XMTYwNDM1ODgw.html" class="list-group-item">奥地利、德国、法国、瑞士、意大利、瑞士和梵蒂冈</a>
      <a href="http://v.youku.com/v_show/id_XMTYwNDE5OTg0.html" class="list-group-item">迪拜</a>
      <a href="http://v.youku.com/v_show/id_XMTkwMTY5NzA0.html" class="list-group-item">美国</a>
      <a href="http://v.youku.com/v_show/id_XMTYwNDUxOTU2.html" class="list-group-item">英国</a>
      <a href="http://v.youku.com/v_show/id_XMTYwNDU3MTg4.html" class="list-group-item">瑞士</a>
      <a href="http://v.youku.com/v_show/id_XMTYwNDUzOTQ0.html" class="list-group-item">突尼斯</a>
    </div>

    
  </div>
</div>