<!-- <nav id="main_nav" class="navbar navbar-default navbar-fixed-top" role="navigation" >


  <div class="sb-toggle-left navbar-left">
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
  </div>
  <div class="sb-toggle-right navbar-right">
    <%#= image_tag "logo.png", alt: "picture", style: "width:100%" %>
  </div>

</nav> -->


<div class="sb-navbar sb-slide">
  
 <!-- Left Slidebar control -->
 <div class="sb-toggle-left">
  <div class="navicon-line"></div>
  <div class="navicon-line"></div>
  <div class="navicon-line"></div>
</div>

<!-- Right Slidebar control -->
<div class="sb-toggle-right">
  <div class="navicon-line"></div>
  <div class="navicon-line"></div>
  <div class="navicon-line"></div>
</div>

<!-- Menu Items -->
<!-- <ul class="sb-navbar-menu">
  <li><a href="#">Menu Item</a></li>
  <li><a href="#">Menu Item</a></li>
  <li><a href="#">Menu Item</a></li>
  <li><a href="#">Menu Item</a></li>
  <li><a href="#">Menu Item</a></li>
</ul> -->

</div>