<nav id="main_nav" class="navbar navbar-default navbar-fixed-top" role="navigation" >
  <!-- Collect the nav links, forms, and other content for toggling -->

  <div class="sb-toggle-left navbar-left">
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
  </div>
  <div class="sb-toggle-right navbar-right">
    <%= image_tag "logo.png", alt: "picture", style: "width:100%" %>
  </div>

</nav>