<% content_for :stylesheet do %>
<%= stylesheet_link_tag "accounts", media: "all", "data-turbolinks-track" => true %>
<% end %>
<div class="container">
    <div class="row account_new">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h2>新用户注册</h2>

        <%= render 'accounts/new/form' %>

      </div>
    
  </div>

  <%#= link_to 'Back', accounts_path %>
</div>

<script>
$(function() {
  $('.switch').bootstrapSwitch();
});
</script>
